<div class="container mt-5">
  <h2>Buscador de Libros</h2>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <input
          type="text"
          placeholder="Ingrese el titulo, autor o año de publicación..."
          class="form-control"
          [(ngModel)]="parametro"
          (keyup)="buscarLibros()"
        />
      </div>
    </div>
    <p class="text-bold mb-0 mt-2" *ngIf="error">{{ error }}</p>
    <app-tabla-libros [libros]="libros"></app-tabla-libros>
  </div>
</div>
