<div class="col-md-12 mt-3">
  <table class="table table-bordered">
    <thead>
      <tr class="text-center bg-primary text-white">
        <th>Titulo</th>
        <th>Autor</th>
        <th>Genero</th>
        <th>Año</th>
        <th># Páginas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros">
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor.nombre }}</td>
        <td>{{ libro.genero }}</td>
        <td>{{ libro.anio }}</td>
        <td>{{ libro.numPaginas }}</td>
      </tr>
    </tbody>
  </table>
</div>
